<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491398396053-pbca2ir5jub1ph8v7ipk5h5p5c27f47j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491398396053-pbca2ir5jub1ph8v7ipk5h5p5c27f47j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>491398396053-acjsthek96nemanogpun9huumkn00boa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlASCXfi8BGEKfVJJR1dicIaigvrtS3r8</string>
	<key>GCM_SENDER_ID</key>
	<string>491398396053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tesis.lavacar</string>
	<key>PROJECT_ID</key>
	<string>lavacar-ac83f</string>
	<key>STORAGE_BUCKET</key>
	<string>lavacar-ac83f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491398396053:ios:b16ba76c692780f445439c</string>
</dict>
</plist>